.dotted-border () {
  .dotted-border-bg(100%);
}
.dotted-border-top () {
  .dotted-border-bg(-2px);
}
.dotted-border-bottom () {
  .dotted-border;
}
.dotted-border-bg (@align) {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyBiYXNlUHJvZmlsZT0idGlueSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMyIgaGVpZ2h0PSIzIiB2aWV3Qm94PSIwIDAgMyAzIj48Y2lyY2xlIGN4PSIyLjUiIGN5PSIyLjUiIHI9Ii41IiBmaWxsPSJyZ2JhKDAsMCwwLDAuNSkiLz48L3N2Zz4=) repeat-x -2px @align;
  
  .no-svg & {
    background-image: url(//www.dr.dk/assets/img/border.png);
  }
}


.dotted-border-inverted () {
  .dotted-border-inverted-bg(100%);
}
.dotted-border-inverted-top () {
  .dotted-border-inverted-bg(-2px);
}
.dotted-border-inverted-bottom () {
  .dotted-border-inverted;
}
.dotted-border-inverted-bg (@align) {
  background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iM3B4IiBoZWlnaHQ9IjNweCIgdmlld0JveD0iMCAwIDMgMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMyAzIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxjaXJjbGUgZmlsbD0iI0ZGRkZGRiIgY3g9IjIuNSIgY3k9IjIuNSIgcj0iMC41Ii8+DQo8L3N2Zz4NCg==) repeat-x -2px @align;

  .no-svg & {
    background-image: url(//www.dr.dk/assets/img/border-white.png);
  }
}
