.font-face (@family, @path, @font-weight: normal) {
  font-family: @family;
  src: url("@{path}.eot");
  src: url("@{path}.eot?#iefix") format("embedded-opentype"),
     url("@{path}.woff") format("woff"),
     url("@{path}.ttf") format("truetype"),
     url("@{path}.svg") format("svg");
  font-weight: @font-weight;
}

.font-size(@font-size, @line-height) {
  font-size: @font-size; 
  line-height: @line-height;
}

.font-family (@font-family: @font-family-sans-serif-semibold) {
  font-family: @font-family;
  font-weight: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.heading-xsmall() {
  .font-family(@font-family-sans-serif-semibold);
  .font-size(@headings-font-size-xsmall; @headings-line-height-xsmall);
  color: @headings-color;
}

.heading-small() {
  .font-family(@font-family-sans-serif-semibold);
  .font-size(@headings-font-size-small; @headings-line-height-small);
  color: @headings-color;
}

.heading-medium() {
  .font-family(@font-family-sans-serif-semibold);
  .font-size(@headings-font-size-medium; @headings-line-height-medium);
  color: @headings-color;
}

.heading-large() {
  .font-family(@font-family-sans-serif-semibold);
  .font-size(@headings-font-size-large; @headings-line-height-large);
  color: @headings-color;
}

.heading-xlarge() {
  .font-family(@font-family-sans-serif-semibold);
  .font-size(@headings-font-size-xlarge; @headings-line-height-xlarge);
  color: @headings-color;
}

.heading-xxlarge() {
  .font-family(@font-family-sans-serif-semibold);
  .font-size(@headings-font-size-xxlarge; @headings-line-height-xxlarge);
  color: @headings-color;
}

.heading-xxxlarge() {
  .font-family(@font-family-sans-serif-semibold);
  .font-size(@headings-font-size-xxxlarge; @headings-line-height-xxxlarge);
  color: @headings-color;
}

.paragraph() {
  .font-family(@font-family-serif);
  .font-size(@paragraph-font-size; @paragraph-line-height);
  color: @paragraph-color;
}

.description() {
  .font-family(@font-family-sans-serif);
  .font-size(@description-font-size; @description-line-height);
  color: @description-color;
}