.font-face (@family, @path, @font-weight: normal) {
	font-family: @family;
	src: url("@{path}.eot");
	src: url("@{path}.eot?#iefix") format("embedded-opentype"),
		 url("@{path}.woff") format("woff"),
		 url("@{path}.ttf") format("truetype"),
		 url("@{path}.svg") format("svg");
	font-weight: @font-weight;
}

.heading (@font-size; @line-height) {
	font-family: @font-family-sans-serif-semibold;
	font-weight: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: @font-size;
	line-height: @line-height;
}

.paragraph() {
	font-size: 16px;
	line-height: 22px;
	font-family: @font-family-serif;
}

.heading-xxsmall() {
	.heading(@headings-font-size-xxsmall; @headings-line-height-xxsmall);
	font-family: @font-family-sans-serif;
}

.heading-xsmall() {
	.heading(@headings-font-size-xsmall; @headings-line-height-xsmall);
}

.heading-small() {
	.heading(@headings-font-size-small; @headings-line-height-small);
}

.heading-medium() {
	.heading(@headings-font-size-medium; @headings-line-height-medium);
}

.heading-large() {
	.heading(@headings-font-size-large; @headings-line-height-large);
}

.heading-xlarge() {
	.heading(@headings-font-size-xlarge; @headings-line-height-xlarge);
}

.heading-xxlarge() {
	.heading(@headings-font-size-xxlarge; @headings-line-height-xxlarge);
}

.heading-xxxlarge() {
	.heading(@headings-font-size-xxxlarge; @headings-line-height-xxxlarge);
}

.heading-xxxxlarge() {
	.heading(@headings-font-size-xxxxlarge; @headings-line-height-xxxxlarge);
}