[class*="dr-icon"] {
	font-size: 16px;
	line-height: 16px;
	color: inherit;

	&:before {
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		border-radius: 2px;
	}

	&[class*="-boxed"] {
		color: #FFF;
		background-color: #7f7f7f;
		background-color: rgba(0,0,0,0.5);
	}

	&[class*="-medium"]:before {
		font-size: 24px;
		line-height: 24px;
	}

	&[class*="-large"]:before {
		font-size: 32px;
		line-height: 32px;
	}

	&.image-wrap {
		position: relative;
	}

	&.image-wrap:before {
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 2;
	}
	
	&[class*="-large"].image-wrap:before {
		top: 10px;
		left: 10px;
	}
}

[class*=dr-icon-image]:before {
	//content: "\1F4F7";
	content: "📷";
}

[class*=dr-icon-slideshow]:before {
	//content: "\1F47D";
	content: "👽";
}
[class*=dr-icon-image-boxed]:before,
[class*=dr-icon-image-inverted]:before,
[class*=dr-icon-slideshow-boxed]:before,
[class*=dr-icon-slideshow-inverted]:before {
	//content: "\1F680";
	content: "🚀";
}

[class*=dr-icon-like]:before {
	content: "\2665";
				
}
			
[class*=dr-icon-comment]:before {
	//content: "\1F4AC";
	content: "💬";
}
			
[class*=dr-icon-feed]:before {
	//content: "\1F4DC";
	content: "📜";
}
			
[class*=dr-icon-article]:before {
	//content: "\1F4C4";
	content: "📄";
}
			
[class*=dr-icon-print]:before {
	content: "\2399";
}
			
[class*=dr-icon-search]:before {
	//content: "\1F50D";
	content: "🔍";
}
			
[class*=dr-icon-mail]:before {
	//content: "\1F4E7";
	content: "📧";
}
			
[class*=dr-icon-add]:before {
	content: "\2795";
}
			
[class*=dr-icon-settings]:before {
	content: "\2699";
}
			
[class*=dr-icon-expand]:before {
	content: "\2B0C";
}

[class*=dr-icon-star]:before {
	content: "\2605";
}
			
[class*=dr-icon-desktop]:before {
	//content: "\1F4BB";
	content: "💻";
}
			
[class*=dr-icon-mobile]:before {
	//content: "\1F4F1";
	content: "📱";
}
			
[class*=dr-icon-alert]:before {
	content: "\26A0";
}

.dr-icon-emergency:before,
.dr-icon-emergency-boxed:before,
.dr-icon-emergency-inverted:before {
  content: "\26A0";
  content: "▲";
  padding: 0 3px;
  background-color: #ff7522;
  color: #01173e;
  font-size: 26px;
  line-height: 1.15em;
  height: 32px;
}
			
[class*=dr-icon-share]:before {
	content: "\21F5";
}
			
[class*=dr-icon-podcast]:before {
	//content: "\1F3A7";
	content: "🎧";
}
			
[class*=dr-icon-download]:before {
	content: "\2192";
}
			
[class*=dr-icon-listview]:before {
	//content: "\1F4D7";
	content: "📗";
}
			
[class*=dr-icon-thumbview]:before {
	//content: "\1F4D8";
	content: "📘";
}
			
[class*=dr-icon-download]:before {
	content: "\21A1";
}
			
[class*=dr-icon-popup]:before {
	//content: "\1F4A9";
	content: "💩";
}
			
[class*=dr-icon-audio]:before {
	//content: "\1F50A";
	content: "🔊";
}

[class*=dr-icon-audio][class*=-boxed]:before,		
[class*=dr-icon-audio][class*=-inverted]:before {
	content: "\1F509";
	content: "🔉";
}
			
[class*=dr-icon-play]:before {
	content: "\25B6";
}
			
[class*=dr-icon-forward]:before {
	content: "\23E9";
}
			
[class*=dr-icon-pause]:before {
	content: "\25AE";
}
			
[class*=dr-icon-stop]:before {
	content: "\25A0";
}
			
[class*=dr-icon-skip]:before {
	content: "\23ED";
}
			
[class*=dr-icon-back]:before {
	content: "\23EE";
}
			
[class*=dr-icon-info]:before {
	content: "\2139";
}
			
[class*=dr-icon-help]:before {
	content: "\2753";
}
			
[class*=dr-icon-close]:before {
	content: "\274C";
}
			
[class*=dr-icon-arrow-up]:before {
	content: "\2191";
}

[class*=dr-icon-link]:before,			
[class*=dr-icon-arrow-right]:before {
	content: "\2192";
}

[class*=dr-icon-arrow-down]:before {
	content: "\2193";
}

[class*=dr-icon-arrow-left]:before {
	content: "\2190";
}

[class*=dr-icon-twitter]:before {
	content: "\1F426";
	content: "🐦";
}

[class*=dr-icon-facebook]:before {
	content: "\1F44D";
	content: "👍";
}

[class*=dr-icon-reload]:before {
	content: "\21BB";
}

[class*=dr-icon-upload]:before {
	content: "\219F";
}

[class*=dr-icon-guide]:before {
	content: "\1F4F0";
	content: "📰";
}