.heading-xxsmall {
	.heading(@headings-font-size-xxsmall; @headings-line-height-xxsmall);
	font-family: @font-family-sans-serif;
}

.heading-xsmall {
	.heading(@headings-font-size-xsmall; @headings-line-height-xsmall);
}

.heading-small {
	.heading(@headings-font-size-small; @headings-line-height-small);
}

.heading-medium {
	.heading(@headings-font-size-medium; @headings-line-height-medium);
}

.heading-large {
	.heading(@headings-font-size-large; @headings-line-height-large);
}

.heading-xlarge {
	.heading(@headings-font-size-xlarge; @headings-line-height-xlarge);
}

.heading-xxlarge {
	.heading(@headings-font-size-xxlarge; @headings-line-height-xxlarge);
}

.heading-xxxlarge {
	.heading(@headings-font-size-xxxlarge; @headings-line-height-xxxlarge);
}

.heading-xxxxlarge {
	.heading(@headings-font-size-xxxxlarge; @headings-line-height-xxxxlarge);
}

h6 {
	.heading-small;
}

h5 {
	.heading-medium;
}

h4 {
	.heading-large;
}

h3 {
	.heading-xlarge;
}

h2 {
	.heading-xxlarge;
}

h1 {
	.heading-xxxlarge;
}

p {
	.paragraph;
}

.section {
	> h2 {
		border-top: 6px solid #000;
		border-bottom: 1px solid #CCC;
		padding: 15px 0 15px 0;
	}

	> h3,
	> h4,
	> h5,
	> h6 {
		border-top-width: 3px;
		padding: 10px 0 10px 0;
	}
}

