.heading-xxsmall {
  .heading-xxsmall();
}

.heading-xsmall {
  .heading-xsmall();
}

.heading-small {
  .heading-small();
}

.heading-medium {
  .heading-medium();
}

.heading-large {
  .heading-large();

  @media (min-width: @screen-sm-min) {
    
  }
  @media (min-width: @screen-md-min) {
    //.font-size(400%, 412.5%);
  }
  @media (min-width: @screen-lg-min) {
    
  }
}

.heading-xlarge {
  .heading-xlarge();
}

.heading-xxlarge {
  .heading-xxlarge();
}

.heading-xxxlarge {
  .heading-xxxlarge();
}

.heading-xxxxlarge {
  .heading-xxxxlarge();
}

.section-header {
  &.heading-medium,
  &.heading-large,
  &.heading-xlarge,
  &.heading-xxlarge,
  &.heading-xxxlarge,
  &.heading-xxxxlarge {
    border-top: 6px solid #000;
    border-bottom: 1px solid #CCC;
    padding: 15px 0 15px 0;
    margin: 20px 0 20px 0;
    line-height: 1;
  }

  &.heading-small,
  &.heading-xsmall,
  &.heading-xxsmall {
    border-top-width: 3px;
    padding: 10px 0 10px 0;
    line-height: 1;
  }
}

p {
  .paragraph();
}

.description {
  
}