h6 {
	.heading-small();
}

h5 {
	.heading-medium();
}

h4 {
	.heading-large();
}

h3 {
	.heading-xlarge();
}

h2 {
	.heading-xxlarge();
}

h1 {
	.heading-xxxlarge();
}

p {
	.paragraph();
}

.section {
	> h2 {
		border-top: 6px solid #000;
		border-bottom: 1px solid #CCC;
		padding: 15px 0 15px 0;
	}

	> h3,
	> h4,
	> h5,
	> h6 {
		border-top-width: 3px;
		padding: 10px 0 10px 0;
	}
}
